<!--<div>
  <input type="checkbox" (click)="visibleChange('border')" [ngModel]="true">边界
  <input type="checkbox" (click)="visibleChange('ssl')" [ngModel]="true">梭梭林
</div>-->
<div class="lc">
  <div class="opt">
    <input class="magic-checkbox" type="checkbox" name="layout" id="c1"(click)="visibleChange('border')" checked>
    <label for="c1">边界</label>
  </div>
  <div class="opt">
    <input class="magic-checkbox" type="checkbox" name="layout" id="c2" (click)="visibleChange('ssl')">
    <label for="c2">梭梭林</label>
  </div>      
</div>