<!--<div class="search">  
    <input type="text" placeholder="输入经度" value="103" #lo (keydown.enter)="doSearch([lo.value,la.value])"/>
    <input type="text" placeholder="输入纬度" value="30" #la (keydown.enter)="doSearch([lo.value,la.value])"/>
    <input type="button" (click)="doSearch([lo.value,la.value])" value="经纬度搜索"/>
    <br>
</div>
    <input type="text" placeholder="输入地名" #place (keydown.enter)="search.place(place.value)"/>
    <input type="button" (click)="search.place(place.value)" value="地名搜索"/>-->
<div class="search">
    <div [hidden]="errorStatus" class="alert alert-danger" role="alert">
    <strong>输入格式错误!</strong>
    <br>请输入正确的经纬度
    <br>如 经度输入: 103 纬度输入: 30 
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control setWidth" placeholder="输入经度" value="103" #lo (keydown.enter)="doSearch([lo.value,la.value])">
            <input type="text" class="form-control setWidth" placeholder="输入纬度" value="30" #la (keydown.enter)="doSearch([lo.value,la.value])">
            <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" (click)="doSearch([lo.value,la.value])">Go!</button>
            </span>
        </div>
    </div>
</div>